.blogDetails ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  list-style: none;
  text-align: left;
  font-size: 12px;

  .imgContainer {
    width: 350px;
  }

  img {
    object-fit: cover;
    // margin: 0 auto;
    max-height: 350px;
    max-width: 350px;
    width: 350px;
    height: 350px;
  }

  h2 {
    font-size: 18px;
    margin: 0;
  }

  h4 {
    margin: 0;
    font-weight: 400;
  }

  h5 {
    font-weight: 800;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }

  .innerOverlay img {
    width: 250px;
    object-fit: contain;
  }

  .innerOverlay ul {
    display: block;
    list-style: inside;
  }

}