.noScroll {
  overflow: hidden;
}

.eventDes {
  text-align: left;

  h3 {
    text-align: center;
  }
}

.eventDetails {
  position: relative;

  h4 {
    margin: 15px 30px;
  }

  ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style: none;
  
    li {
    margin: 20px;
    background-color: white;
    cursor: pointer;
    border: 5px solid #fbf2e7;
    transition: all 0.3s ease-out;

    &:hover {
      transform: scale(1.1);
    }
    }
  }
}
  
.eventDetails img {
    object-fit: cover;
    margin: 0 auto;
    max-height: 300px;
    max-width: 300px;
    height: 300px;
    margin-top: 20px;
  }

.hiddenOverlay {
  display: none;
  position: fixed;
  background-color: rgba(238,231,220, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;

  .innerOverlay {
    background: white;
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
    padding: 50px;

    p {
      line-height: 1.5;
    }
  }
}

.overlayFlex {
  display: flex;

  div {
    width: 60%;
  }
  
  img {
    width: 40%
  }

  p {
    text-align: left;
  }
}


.closeOverlay {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 30px;
  cursor: pointer
}

.button {
  text-decoration: none;
  font-size: 1.8rem;
  background-color: grey;
  color: white;
  padding: 10px 30px;
  transition: all 0.3s ease-in;

  &:hover {
  background-color: black;
  box-shadow: inset 0 0 0 2px grey;
  }
}

.FAQ {
  text-align: left;

  h4 {
    cursor: pointer;
  }

  i {
    margin-right: 10px;
  }

  p {
    display: none;
  }
}


