@media (max-width: 800px) {
  .burger {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }

  hr {
    width: 60%;
  }

  .menu {
    display: none;
  }
}

@media (max-width: 500px) {
  
  body {
    border: none;
    margin: 0 auto;
  }

  header h1 {
    font-size: 40px;
    margin: 0;
    padding-bottom: 0;
  }

  .eventDetails ul {
    padding-left: 0;

    li {
    margin: 0;
    }
  }

  .hideInMobile {
    display: none;
  }

  .overlayFlex {
    flex-direction: column;
    
    div,
    img {
      width: 100%;
    }
  }
}