@media (max-width: 800px) {
  .burger {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }

  hr {
    width: 60%;
  }

  .menu {
    display: none;
  }
}

@media (max-width: 500px) {
  body {
    overflow-x: hidden;
    border: none;
    margin: 0 auto;
    width: 90%;
  }

  header {
    // position: fixed;
    // background-color: white;
    // width: 100%;
    // top: 0;
    // left: 0;

    h1 {
      font-size: 40px;
      margin: 0;
      padding-bottom: 0;
    }

    .burger {
      position: fixed;
      top: 0;
      left: 2;
    }
  }
  

  // event page
  .eventDetails ul {
    padding-left: 0;

    li {
    margin: 0;
    }
  }

  .innerOverlay {
    width: 100%;

    h2 {
      line-height: 1.2;
    }

    h4 {
      font-size: 0.8rem;
    }

    p {
      line-height: 1;
    }
  }

  .hideInMobile {
    display: none;
  }

  .overlayFlex {
    flex-direction: column;
    
    div,
    img {
      width: 100%;
    }
  }


  // about page
  .about {
    width: 100%;
    text-align: left;
  }

  .contact {
    width: 100%;

    form {
      width: 100%;
    }
  }

  footer {
    flex-direction: column-reverse;
  }

  // portfolio page
  .portfolio {
    margin: 0 auto;
    padding: 0;
    grid-template-columns: 1fr 1fr;

    li {
      width: 200px;
      height: 200px;

      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}