html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 5% auto;
  text-align: center;
  width: 80%;
  border: 2px solid #404040;
  color: #404040;
  font-family: 'Lora', serif;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 2;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
}

header {
  padding-top: 20px;
}

header h1 {
  padding: 50px 0;
  font-size: 50px;
  font-weight: 600;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: uppercase;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: dimgrey;
}

header a:hover {
  border-bottom: 2px solid dimgrey;
}

.about {
  margin: 50px;
}

.about h2 {
  font-size: 35px;
}

.about div {
  text-align: left;
  margin: 50px 0;
}

.about div span {
  text-decoration: underline;
  font-style: normal;
}

.about span {
  font-style: italic;
  font-weight: 600;
}

.contact {
  background-color: #EDEDED;
  margin: 10px auto;
  width: 80%;
  padding: 5px;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.contact form input,
.contact form textarea {
  margin: 5px 0;
  padding: 10px;
}

.contact button {
  padding: 10px;
  width: 40%;
  border: 2px solid black;
  margin: 10px auto;
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 0;
}

footer li {
  list-style: none;
  border-radius: 50%;
  background-color: black;
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

footer a {
  color: white;
}

.debyu {
  color: black;
  text-decoration: none;
}

.debyu:hover span {
  color: grey;
  text-decoration: underline;
}

.thankyou {
  padding: 100px 0;
}

.wrapper {
  margin: 5% auto;
  width: 80%;
  max-width: 1500px;
}

.burger {
  display: none;
}

.dropDown {
  display: none;
}

.noScroll {
  overflow: hidden;
}

.eventDes p {
  text-align: left;
}

.eventBanner h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.eventDetails {
  position: relative;
}

.eventDetails h4,
.eventDetails p {
  margin: 0;
}

.eventDetails ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 2fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  list-style: none;
  text-align: left;
}

.eventDetails ul li {
  margin: 20px;
  background-color: white;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.eventDetails ul h5 {
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  padding: 0;
}

.eventDetails ul h5:hover {
  color: grey;
  text-decoration: underline;
}

.eventDetails ul hr {
  margin: 10px 0 0 0;
  max-width: 100px;
}

.eventDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.eventDetails img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 300px;
  max-width: 300px;
  height: 300px;
  margin-top: 20px;
}

.hiddenOverlay {
  display: none;
  position: fixed;
  background-color: rgba(238, 231, 220, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
}

.hiddenOverlay .innerOverlay {
  background: white;
  margin: 0 auto;
  width: 80%;
  margin-top: 20px;
  padding: 50px;
}

.hiddenOverlay .innerOverlay p {
  line-height: 1.5;
}

.hiddenOverlay .innerOverlay a {
  color: black;
  text-decoration: none;
}

.hiddenOverlay .innerOverlay i {
  margin-right: 10px;
  font-size: 1.5rem;
}

.overlayFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlayFlex div {
  width: 60%;
}

.overlayFlex img {
  width: 40%;
}

.overlayFlex p {
  text-align: left;
  margin-top: 20px;
}

.closeOverlay {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 30px;
  cursor: pointer;
}

.button {
  text-decoration: none;
  font-size: 1.2rem;
  background-color: black;
  color: white;
  padding: 10px 30px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-radius: 20px;
}

.button:hover {
  background-color: grey;
  -webkit-box-shadow: inset 0 0 0 2px grey;
          box-shadow: inset 0 0 0 2px grey;
}

.FAQ {
  text-align: left;
}

.FAQ h4 {
  cursor: pointer;
}

.FAQ i {
  margin-right: 10px;
}

.FAQ p {
  display: none;
}

.blogDetails ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  list-style: none;
  text-align: left;
  font-size: 12px;
}

.blogDetails ul .imgContainer {
  width: 350px;
}

.blogDetails ul img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 250px;
  max-width: 250px;
  width: 250px;
  height: 250px;
}

.blogDetails ul h2 {
  font-size: 18px;
  margin: 0;
}

.blogDetails ul h4 {
  margin: 0;
  font-weight: 400;
}

.blogDetails ul h5 {
  font-weight: 800;
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
}

.blogDetails ul h5:hover {
  text-decoration: underline;
}

.blogDetails ul .innerOverlay img {
  width: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}

.blogDetails ul .innerOverlay ul {
  display: block;
  list-style: inside;
}

.portfolio {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.portfolio li {
  margin: 20px 0 20px 0;
  width: 250px;
  height: 250px;
}

.portfolio li img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 250px;
  height: 250px;
}

@media (max-width: 800px) {
  .burger {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }
  hr {
    width: 60%;
  }
  .menu {
    display: none;
  }
}

@media (max-width: 500px) {
  body {
    border: none;
    margin: 0 auto;
    width: 90%;
  }
  header h1 {
    font-size: 40px;
    margin: 0;
    padding-bottom: 0;
  }
  .eventDetails ul {
    padding-left: 0;
  }
  .eventDetails ul li {
    margin: 0;
  }
  .innerOverlay {
    width: 100%;
  }
  .innerOverlay h2 {
    line-height: 1.2;
  }
  .innerOverlay h4 {
    font-size: 0.8rem;
  }
  .innerOverlay p {
    line-height: 1;
  }
  .hideInMobile {
    display: none;
  }
  .overlayFlex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .overlayFlex div,
  .overlayFlex img {
    width: 100%;
  }
  .about {
    width: 100%;
    text-align: left;
  }
  .contact {
    width: 100%;
  }
  .contact form {
    width: 100%;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
